# Get a free TMDB API key at: https://www.themoviedb.org/settings/api
# 1. Create a free account on TMDB
# 2. Go to Settings > API > Create > Developer
# 3. Copy your API Key (v3 auth) and paste it below
TMDB_API_KEY=c047dd081d872d6649148ac139a84c8e
TMDB_READ_ACCESS_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJjMDQ3ZGQwODFkODcyZDY2NDkxNDhhYzEzOWE4NGM4ZSIsIm5iZiI6MTc4MTcyNzc0Ni41NzIsInN1YiI6IjZhMzMwMjAyODEyOWI5ZTI5NTgzMDJiMyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.Je40d3QulsjASjKP5zLut6HxLhPkb35a5HrqnI3LCCI

